<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="menu-nav">
        <nav class="navbar">
            <a th:href="@{/}" class="navbar__brand" aria-label="SOS Urbano">
                <img th:src="@{/images/nav-logo.png}" alt="SOS Urbano" class="navbar__logo">
            </a>

            <div class="navbar__links">
                <div class="navbar__menu" data-menu>
                    <button type="button" class="navbar__link navbar__menu-button" data-menu-button aria-expanded="false">
                        <span class="navbar__menu-icon" aria-hidden="true"></span>
                        <span>MENU</span>
                    </button>
                    <div class="navbar__dropdown" data-menu-dropdown>
                        <a th:href="@{/}" class="navbar__dropdown-link">Página Inicial</a>
                        <a th:href="@{/login}" class="navbar__dropdown-link" data-menu-login>Logar</a>
                        <a th:href="@{/register}" class="navbar__dropdown-link" data-menu-register>Registrar</a>
                        <a href="#" class="navbar__dropdown-link navbar__dropdown-link--account" data-menu-account>Minha conta</a>
                        <button type="button" class="navbar__dropdown-link navbar__dropdown-button" data-menu-logout>Sair</button>
                    </div>
                </div>
                <a th:href="@{/login}" class="navbar__link" data-auth-link>
                    <span class="navbar__user-icon" aria-hidden="true"></span>
                    <span data-auth-text>LOGIN/REGISTRO</span>
                </a>
            </div>
        </nav>
        <script th:src="@{/js/auth.js}"></script>
    </th:block>
</body>
</html>
